<div class="container" style="margin-top:5em;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
            <form class="form-signin">
                <h2 class="form-signin-heading">Coordinates</h2>
                <label for="Longitude" class="sr-only">Longitude</label>
                <input ng-model="coords.long" type="text" id="Longitude" class="form-control" placeholder="Longitude" required="" autofocus="">
                <label for="Latitude" class="sr-only">Latitude</label>
                <input ng-model="coords.lat" type="text" id="Latitude" class="form-control" placeholder="Latitude" required="">
                <div class="checkbox">
                    <label>
                        <input ng-model="is_moving" type="checkbox" value="remember-me"> Fake Movement
                    </label>
                </div>
                <button ng-show="!sending" ng-click="send_data()" class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
                <button ng-show="sending" ng-click="stop_data()" class="btn btn-lg btn-danger btn-block" type="submit">Stop</button>
            </form>
        </div>
    </div>
</div>
